  .banner-text {
	text-align: center;
	font-size: 50px;
	margin-top: 1%;
}

body {
	background: linear-gradient( #8942a8, #ba382f);
}

* {
	margin: 0;
	padding: 0;
}

.desc-area {
	margin:auto;
	border-style:solid;
	border-radius:10px;
	background-color: brown;
	border-color: black;
	width: 70%;
}

.projects {
	margin:auto;
	border-style:solid;
	border-radius:10px;
	background-color: brown;
	border-color: black;
	width: 70%;
}

body {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
	font-size:18px
}

.project-prv {
	width: 100%;
	border-style: solid;
	border-radius:10px;
}